/* 
    Created on : 23-06-2017, 18:27:16
    Author     : Juan
*/
.error {
    border: 2px solid red;
    color:red;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.botonSesion {
    background-color: #58D3F7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.contenedor {
    width: 65%;
    overflow: auto;
    text-align: left;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}